/* If you want you can use font-face */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: "calibri";
    font-size: 18px;
}

body.site.index {
    background: url('../images/home-background.jpg') no-repeat fixed top center;
    /* background: url('../images/home-background.jpg') no-repeat fixed center; */
    background-size: cover;
}

body.site.index .footer {
    display: block;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: arial, sans-serif;
    font-weight: bold;
}

hr {
    height: 1px;
    border-width: 0;
    opacity: 0.2;
    color: black;
    background-color: black;
}

hr.sl {
    width: 50%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.navbar,
.footer {
    font-family: 'BebasNeueRegular', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-brand {
    font-size: 22px;
}

.footer {
    font-size: 16px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.info td {
    padding-left: 15px;
}

.btn-container {
    text-align: right;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content:
        /*"\e113"*/
        "\e151";
}

a.desc:after {
    content:
        /*"\e114"*/
        "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.notice {
    font-size: 14px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    /* width: fit-content;
    block-size: fit-content */
}

#brand-logo {
    background: url(../logo.png) no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    background-size: contain;
    /* filter: brightness(0) invert(1); */
    margin-top: -7px;
}

.app-name {
    color: #f9d82c;
}

.navbar {
    border: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #222222;
    background-color: #fff;
}

.btn-primary {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.table thead th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table thead th a {
    /* text-decoration: none; */
    color: #fff;
}