/* If you want you can use font-face */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: "calibri";
    font-size: 18px;
}

body.site.index {
    /* background: url('../images/home-background.jpg') no-repeat fixed top center; */
    background: url('../images/home-background.jpg') no-repeat fixed center;
    background-size: cover;
}

body.site.index .footer {
    display: block;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: arial, sans-serif;
    font-weight: bold;
}

hr {
    height: 1px;
    border-width: 0;
    opacity: 0.2;
    color: black;
    background-color: black;
}

hr.sl {
    width: 50%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.navbar,
.footer {
    font-family: 'BebasNeueRegular', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-brand {
    font-size: 22px;
}

.footer {
    font-size: 16px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.info td {
    padding-left: 15px;
}

.btn-container {
    text-align: right;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content:
        /*"\e113"*/
        "\e151";
}

a.desc:after {
    content:
        /*"\e114"*/
        "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.notice {
    font-size: 14px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    /* width: fit-content;
    block-size: fit-content */
}

#brand-logo {
    background: url(../logo-w.png) no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    background-size: contain;
    /* filter: brightness(0) invert(1); */
    margin-top: -7px;
}

.app-name {
    color: #f9d82c;
}

.navbar {
    border: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #222222;
    background-color: #fff;
}

.btn-primary {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.table thead th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table thead th a {
    /* text-decoration: none; */
    color: #fff;
}

.image-cropper {
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: solid 0px #ffffff;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 3px 0px 2px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 4px 3px 0px 2px rgba(0,0,0,0);
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  /* margin-left: -30%; */
  /* margin-top: -1%; */
  height: 100%;
  width: auto;
}

.team-name {
    float: left;
    margin-right: 5px;
}

.qoute{
    margin-top: 100px;
}
.bg-img{
    background: url('../images/cup.png') no-repeat fixed top center;
    background-size: cover;
    width: 30%;
    top: -100px;
}

.large {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: solid 5px #fefefefe;
    border-radius: 50%;
    /* float: left; */
}
.plarge {
    margin-left: 0;
    margin-top: 0;
}
.img-left {
    margin-left: -150px;
}
.comment-layout{
    margin: auto;
    margin-top: 50px;
}
.qoute h5{
    font-size: 32px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    height: 150px;
    width: 150px;
}
.logo-wc{
    border-radius: 100%;
    margin-left: -40px;
}
.join-skype .wrapper{
    margin-top: 60px;
}
.err-title{
    text-align: center;
    font-family: 'BebasNeueRegular';
    font-size: 50px;
    color: #333;
    /* box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px; */
    /* text-shadow: 0 2px 2px #dfdfdf, -2px 5px 1px #b8b8b8, -4px 8px 0px #979797, -6px 11px 0px #747474, -8px 14px 0px #565656, -10px 17px 0px #343434, -12px 20px 0px #171717, -14px 23px 0px #000; */
    /* text-shadow: 3px 3px 20px #222, -2px 1px 30px #222; */
    /* text-shadow: 4px 4px 0px #000, -4px 0 0px #000, 7px 4px 0 #fff; */
    /* text-shadow: 20px 10px 0px #f9d82c, -15px -6px 0px #22a5f1; */
    text-shadow: -1px -1px 3px #fff, 2px 2px 4px #fff;
}

/**/
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700,800");

/** Styles for the 403 Page **/

.particle-error,
.permission_denied,
#particles-js {
  width: 100%;
  height: 100%;
  margin: 0px !important;
}

#particles-js {
  position: fixed !important;
  opacity: 0.8;
  max-width: 1570px;
}

.permission_denied {
  background: #222222 !important;
}

.permission_denied a {
  text-decoration: none;
}

.denied__wrapper {
  max-width: 500px;
  width: 100%;
  height: 390px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 8vh;
}

.permission_denied h1 {
  text-align: center;
  color: #222222;
  /* font-family: "Dosis", sans-serif; */
  font-size: 100px;
  margin-bottom: 0px;
  /* font-weight: 800; */
}

.permission_denied h3 {
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  max-width: 500px;
  margin: 0px auto 30px auto;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.permission_denied h3 span {
  position: relative;
  width: 65px;
  display: inline-block;
}

.permission_denied h3 span:after {
  content: "";
  border-bottom: 3px solid #ffbb39;
  position: absolute;
  left: 0;
  top: 43%;
  width: 100%;
}

.denied__link {
  background: none;
  color: #fff;
  padding: 12px 0px 10px 0px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 7px;
  width: 150px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  display: block;
  margin-bottom: 40px;
  margin-top: 0px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.denied__link:hover {
  color: #ffbb39;
  border-color: #ffbb39;
  cursor: pointer;
  opacity: 1;
}

.permission_denied .stars {
  animation: sparkle 1.6s infinite ease-in-out alternate;
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

#astronaut {
  width: 43px;
  position: absolute;
  right: 20px;
  top: 210px;
  animation: spin 4.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 600px) {
  .permission_denied h1 {
    font-size: 75px;
  }
  .permission_denied h3 {
    font-size: 16px;
    width: 200px;
    margin: 0 auto;
    line-height: 23px;
  }
  .permission_denied h3 span {
    width: 60px;
  }
  #astronaut {
    width: 35px;
    right: 40px;
    top: 170px;
  }
}

.saturn,
.saturn-2,
.hover {
  animation: hover 2s infinite ease-in-out alternate;
}

@keyframes hover {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.site.error .wrap{
    background-color: #222222;
}

.bg-shadow{
  background-color: #0000004f;
}
.modal-cus{
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

tr:has(.btn-hide) td{
  /* background: #dddddd; */
  opacity: 0.2;
}

td:has(.btn ){
  text-align: left !important;
  opacity: 1 !important;
}

.wrap-table > tbody > tr > td{
  text-overflow: clip;
  overflow: auto;
}

.btn-hide{
  color: white;
}

tr:has(.btn-show){
  background: rgba(77, 75, 75, 0.377);
  opacity: 0.5;
}

.unstyled-list{
  padding: 0;
}

.match-current{
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  /* width: 80%; */
  margin: auto;
}

.match-current-item{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}


.match-team{
  text-align: center;
}
.match-team img{
  width: 70px;
  height: 70px;
  margin-top: 10px;
  border: solid 3px #eeeeee;
  box-shadow: 0px 10px 13px -7px #000000, 4px 3px 0px 2px rgb(0 0 0 / 0%);
  border-radius: 50%;
}
.match-team.left{
  float: right;
}

.match-team.right{
  float: left;
}

.match-team .title{
  font-size: 24px;
  font-weight: 600;
  color: #222222;
}

.match-current-item hr{
  width: 50%;
  margin-top: 40px;

}

.match-current-item h2{
  font-size: 42px;
  font-weight: 900;
  color: #222222;
}
.match-current-item h4{
  color: #222222;
}

#loading svg{
  height: 120px;
}
.match-status{
  font-size: 20px;
  color: rgb(48, 48, 48);
}

.u-point {
  /* color: #fff; */
  display: inline;
  font-size: 14px;
  font-weight: normal;
  padding: 2px 7px 1px;
  min-width: 10px;
  vertical-align: middle;
  border-radius: 3px;
}